body {
    font-family: sans-serif;
}
h1 {
    color: blue;
}
#contact {
    font-weight: bold;
}
#picture {
    width: 45%;
}
h2 {
    margin-top: 4%;
    text-align: center;
    background-color: silver;
    font-variant: small-caps;
    letter-spacing: 4px;
    color: purple;
    font-weight: 900;
}
#now {
    font-size: x-small;
    color: green;
}

/* Bordered class for replicating the table borders shown in the example
without changing the style of normal tables in the page */

table.bordered,
th.bordered,
td.bordered {
    border: 1px solid black;
}